.color-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.color-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s;
}

.color-circle:hover {
 transform: scale(1.15);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}